{% extends "_base.twig" %}
{% block content %}
<div class="">
	<div class="ui three stackable cards">
		<div class="ui card">
			<div class="image">
				<img src="{{baseUrl}}images/athletes.jpg" class="fluid image"/>
			</div>
			<div class="content">
				<a href="{{baseUrl}}athletes" class="header">Rechercher un athlète</a>
				<div class="description">
					{% include "_form-atletes.twig" %}
				</div>
			</div>
		</div>
		<a href="{{baseUrl}}statistiques" class="ui card">
			<div class="image">
				<img src="{{baseUrl}}images/stats.jpg" class="fluid image"/>
			</div>
			<div class="content">
				<div class="header">Records du CA Sion</div>
				<div class="description">Accéder aux records du CA Sion par discipline et regarder qui possède le record à battre  !</div>
			</div>
		</a>
		<a href="{{baseUrl}}bilans" class="ui card">
			<div class="image">
				<img src="{{baseUrl}}images/bilans.jpg" class="fluid image"/>
				<!-- https://dummyimage.com/300x120/3c6997/ffffff&text=Bilans%20{{ 'now'|date('Y') }} -->
			</div>
			<div class="content">
				<div class="header">Consulter les bilans de saisons</div>
				<div class="description">Consulter les bilans de saisons : médailles, titres et participations internationales.</div>
			</div>
		</a>
	</div>
	<div class="ui segment">
		<div class="ui text justified container">
			<h2>Notes</h2>
			<p>Le module des statistique et résultats du CA Sion (<em>CA Stat</em>) est en version beta. Il reprend d'anciennes bases de résultats allant de 1962 à 2010 et pouvant contenir des erreurs et bugs (résultats, disciplines, noms, dates). C'est pour cette raison que vos réclamations ou annonces d'erreurs sont les bienvenue. Vous pouvez nous les signaler grâce au bouton bleu <em>Signaler une erreur</em> en haut à gauche de la page.</p>
			<p>Seuls les médailles aux championnats suisses et les sélections internationale sont prises en compte pour l'établissement du palmarès. En règle générale et depuis 2014, seuls les résultats des U14 et plus âgés sont comptabilisés. Néamoins il peut arriver que toutes les catégories soient couvertes. De plus, depuis 2016, seuls les meilleurs résultats de l'année par athlètes sont pris en compte.</p>
			<p>De plus, le vide de résultats entre les années 2010 et 2015 n'est pas encore comblé. Si un tel travail vous intéresse, c'est avec plaisir que nous acceptons <a href="mailto:webmaster@casion.ch">votre aide</a> ! Pour résumer, voici la disponibilité des résultats.</p>
			<table class="ca-table-grey">
				<thead>
					<tr>
						<th>Période</th>
						<th>Résultats</th>
						<th>Records</th>
						<th>Palmarès</th>
						<th>Catégories</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1962-2010</td>
						<td><i class="icon checkmark"></i></td>
						<td><i class="icon checkmark"></i></td>
						<td><i class="icon remove"></i></td>
						<td><i class="icon checkmark"></i></td>
					</tr>
					<tr>
						<td>2011-2013</td>
						<td><i class="icon remove"></i></td>
						<td><i class="icon remove"></i></td>
						<td><i class="icon remove"></i></td>
						<td><i class="icon remove"></i></td>
					</tr>
					<tr>
						<td>2014-{{'now'|date('Y')}}</td>
						<td><i class="icon remove"></i></td>
						<td><i class="icon checkmark"></i></td>
						<td><i class="icon warning sign"></i></td>
						<td>(U14 et +)</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
